/* This styles the main page background */

/* This styles the Card (The Box) */

/* Make the image fit perfectly */

/* Hover Effect: Changes color when you move mouse over button */
.Hoddie-Card {
    background-color: aqua;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(228, 4, 4, 0.2);
}
.hoodie-images{
    width: 100%;
    border-radius: 5px;
}
.hoodie-title{
    color: #7c0462;
    font-size: 24px;
    margin-bottom: 5px;
}
.price{
    color: #d10ca3;
    font-size: 20px;
}
.description-2{
    color: #24011c;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.buy-button{
    text-decoration:overline ;
    background-color: #27ae60;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;

}
.shop-container {
    display: flex;           /* The magic spell */
    justify-content: center; /* Puts them in the middle */
    gap: 20px;               /* Adds space between them */
}